<!-- begin header menu definition -->
<ion-menu side="start" type="overlay" menuId="mainMenu" class="main-menu">
	<ion-header>
	  <ion-toolbar>
		<ion-title>Main Menu</ion-title>
	  </ion-toolbar>
	</ion-header>
	<ion-content>
	  <ion-list>
		<ion-item href="settings" routerDirection="root">Settings</ion-item>
		<ion-item href="tabs/profile" routerDirection="root">Profile</ion-item>
		<ion-item (click)="logout()">Logout</ion-item>
  </ion-list>
	</ion-content>
  </ion-menu>
  <!-- end header menu definition -->
  <!-- begin header -->
  <ion-header no-border>
	<ion-toolbar mode="ios">
	  <ion-title>
	  Szirine
	  </ion-title>
	  <ion-buttons slot="start">
		<ion-menu-button autoHide="false"></ion-menu-button>
	  </ion-buttons>
	</ion-toolbar>
  </ion-header>
  <!-- end header -->
  <ion-tabs main>
  <!-- filler header --> 
  <ion-header no-border><ion-toolbar></ion-toolbar></ion-header>
	<ion-tab-bar slot="bottom">
	  <ion-tab-button tab="feed">
		<ion-icon name="paper"></ion-icon>
		<ion-label>Feed</ion-label>
	  </ion-tab-button>
	  <ion-tab-button tab="chat">
		<ion-icon name="chatboxes"></ion-icon>
		<ion-label>Chat</ion-label>
	  </ion-tab-button>
	  <ion-tab-button tab="profile">
		<ion-icon name="person"></ion-icon>
		<ion-label>Profile</ion-label>
	  </ion-tab-button>
	</ion-tab-bar>
  </ion-tabs>